{{!< default}}

<main class="site-main">

    <img class="closing-slide" src="{{asset "images/closing-slide.jpg"}}" alt="Swift TO Logo with words below 'Thank you for joining us'">

    <!-- Video List -->
    <div class="gh-outer video-list">
        <section class="gh-inner">
            <h3 class="post-title">Thurs Aug 10th Talks</h3>
            <div class="videos">
                {{#get "posts" filter="tags:video-aug10" order="published_at asc"}}
                {{#foreach posts}}
                <div class="featured-video">
                    <a href="{{excerpt}}" target="_blank">
                        {{#if feature_image}}
                            <img
                                class="video-image"
                                src="{{img_url feature_image size="m"}}"
                                alt="Photo of {{title}}"
                                loading="lazy"
                            >
                        {{/if}}
                        <h4 class="video-title">{{title}}</h3>
                    </a>
                </div>
                {{/foreach}}
                {{/get}}
            </div> 
        </section>

        <section class="gh-inner">
            <h3 class="post-title">Friday Aug 11th Talks</h3>
            <p>Coming very soon. We are just getting some missing camera conent from the venue.</p>
        </section>

        <hr />

        <section class="gh-inner">
            <h3>ℹ️ Swift TO is shutting down</h4>
            <p>Unfortunately, we took a loss running the conference this year and will be closing down. Thanks to everyone who joined us this year.</p>
            <br />
            <p><a href="/swift-to-is-closing-down" class="statement">Read Full Statement</a></p>
        </section>
    </div>
</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
