{{!< default}}

<main class="site-main">

    <img class="closing-slide" src="{{asset "images/closing-slide.jpg"}}" alt="Swift TO Logo with words below 'Thank you for joining us'">

    <!-- Video List -->
    <div class="gh-outer video-list">
        <section class="gh-inner">
            <h3 class="post-title">🗣️ Thurs Aug 10th Talks</h3>
            <div class="videos">
                {{#get "posts" filter="tags:video-aug10" order="published_at asc"}}
                {{#foreach posts}}
                <div class="featured-video">
                    <a href="{{excerpt}}" target="_blank">
                        {{#if feature_image}}
                            <img
                                class="video-image"
                                src="{{img_url feature_image size="m"}}"
                                alt="Photo of {{title}}"
                                loading="lazy"
                            >
                        {{/if}}
                        <h4 class="video-title">{{title}}</h3>
                    </a>
                </div>
                {{/foreach}}
                {{/get}}
            </div> 
            <br />
            <h3><a href="https://annamiphotography.gallery.photo/gallery/tiff-swift-to-conference/" target="_blank">📸 Photo Gallery</a></h3>
            <br />
            <h3 class="post-title">🗣️ Friday Aug 11th Talks - Available Soon</h3>
            <p>There was a delay in getting the camera content for Friday from our venue, but we should have this published within a week.</p>

            <br />
            <br />

            <h3>ℹ️ Swift TO is shutting down</h3>
            <p>Unfortunately, we took a loss running the conference this year and will be closing down. Thanks to everyone who joined us this year.</p>
            <br />
            <p><a href="/swift-to-is-closing-down" class="statement">Read Full Letter</a></p>
        </section>
    </div>

    <hr /

      <!-- Sponsors -->
    <div class="gh-outer">
        <section class="gh-inner sponsors-wrapper" id="sign-up">
            <h3>Diversity Scholarship Sponsor</h3>
            <div class="single-sponsor-item">
                <a href="https://jobs.scotiabank.com/search/?createNewAlert=false&amp;q=ios+developer&amp;locationsearch=" target="_blank">
                    <img src="/assets/images/sponsor-scotiabank-small.png" alt="Scotiabank">
                </a>
            </div>
            <br />
            <h3>Supporting Sponsor</h3>
            <div class="multi-sponsor-container">
                <div class="multi-sponsor-item">
                    <a href="https://www.runway.team/?utm_source=sponsorship&utm_medium=event&utm_campaign=swiftto&utm_content=aug10-23" target="_blank">
                        <img src="/assets/images/runway.png" alt="Runway">
                    </a>
                </div>
                <div class="multi-sponsor-item">
                    <a href="https://detailspro.app/?utm_campaign=swiftto" target="_blank">
                        <img src="/assets/images/sponsor-details-pro-small.png" alt="DetailsPro">
                    </a>
                </div>
                <div class="multi-sponsor-item">
                    <a href="https://mtjc.fireside.fm" target="_blank">
                        <img src="/assets/images/sponsor-mtjc-logo.png" alt="More Than Just Code Podcast">
                    </a>
                </div>
            </div>
        </section>
    </div>

    <hr />

    <!-- Organizers -->
    <div class="gh-outer organizers">
        <section class="gh-inner">
            <h3 class="post-title">Organizers</h3>
            <div class="featured-people">
                {{#get "posts" filter="tags:organizer" order="published_at asc"}}
                {{#foreach posts}}
                <div class="featured-person">
                    {{#if feature_image}}
                        <img
                            class="profile-picture"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                            loading="lazy"
                        >
                    {{/if}}
                    <h4 class="person-title">{{title}}</h3>
                    <p>{{content}}</p>
                </div>
                {{/foreach}}
                {{/get}}
            </div> 
        </section>
    </div>
</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
